<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Author</title>
 
</head>
<body>

    <div style="font-size:22px">
	<center>
	<h1 > Author Information</h1>
	<div style="display: table-caption">
    <form action="Author" method="POST">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input class="form-control" name="name" id="name" type="text">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nacionality</label>
            <input class="form-control" name="nationality" id="nationality" type="text">

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Birth Year</label>
            <input class="form-control" name="birth" id="birth" type="text">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Field</label>
            <input class="form-control" name="fields" id="fields" type="text">
          </div>
    
  
   
   
  
  
          <button type="submit" value="Create" >Add Author</button>
</form>
</div>
</div>
</body>
</html>