<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Editorial</title>

</head>
<body>

    <div style="font-size:22px">
	<center>
	<h1 > Editorial Information</h1>
	<div style="display: table-caption">
    <form action="/Publisher" method="POST">

        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input class="form-control" name="name" id="name" type="text">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Country</label>
            <input  class="form-control" name="country" id="country" type="text">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Foundation</label>
            <input  class="form-control" name="founded" id="founded" type="text">
          </div>


          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Genre</label>
            <input  class="form-control" name="genere" id="genere" type="text">
          </div>

          <button type="submit" value="Create" >Add Editorial</button>

    </form>
   
</div>
</div>
  
 
</body>
</html>